<nav class="navbar navbar-expand-lg navbar-light bg-blue">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Super City</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home-component" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/customer-component" routerLinkActive="active">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/item-component" routerLinkActive="active" >Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/order-component" routerLinkActive="active">Order</a>
        </li>
      </ul>
      <ul class="m-1">
        <button class="btn btn-sm w-30" type="button">Support</button>
        <button class="btn btn-sm" type="button">Settings</button>
      </ul>
    </div>
  </div>
</nav>


<!--<router-outlet></router-outlet>-->
