<section id="welcome">
  <div class="box position-relative align-content-end align-items-center">

    <div class="box1 card position-relative justify-content-center  bg-light ">
      <h1 class="card-title p-3">Customers</h1>
      <h2 class="card-text position-relative">35024</h2>
    </div>

    <div class="box2 card position-relative justify-content-center bg-danger ">
      <h1 class="card-title p-3">Items</h1>
      <h2 class="card-text position-relative">150255</h2>
    </div>

    <div class="box3 card position-relative justify-content-center bg-dark text-light">
      <h1 class="card-title p-3">Orders</h1>
      <h2 class="card-text position-relative">8564</h2>
    </div>
  </div>
</section>
